<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>Tuesday's Tunes</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Join us every other Tuesday and enjoy selected songs sung by Dave Flamand himself." />
    <meta property="og:title" content="Tuesday's Tunes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tuesdaystunes.tv/" />
    <meta property="og:image" content="https://www.tuesdaystunes.tv/assets/tuesdays-tunes-og.png">

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="../styles/main.css" data-gwd-opt="inline">

    <script type="module" data-gwd-opt="static" src="../components/footer/footer.js"></script>
    <script type="module" data-gwd-opt="static" src="../components/header/header.js"></script>
    <script type="module" src="../components/nav/nav.js"></script>
    <script type="module">
      const params = new URLSearchParams(document.location.search);
      const qs = params.has('name') ? `?name=${params.get('name')}` : '';
      const data = await fetch(`/api/greeting${qs}`).then(resp => resp.json());

      document.getElementById('greeting').textContent = data.message;
    </script>

    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const page = 5;
        let offset = 0;

        document.getElementById('load-yt').addEventListener('click', async () => {
          console.debug('load more fragments!');
          offset = offset += page;
          const html = await fetch(`/api/fragment?offset=${offset}`).then(resp => resp.text());

          console.debug({ html });
          document.getElementsByTagName('tt-youtube-playlist')[0].insertAdjacentHTML('beforeend', html);
        });
      });
    </script>
  </head>

  <body>

    <div class="md:w-10/12 m-0 ml-auto mr-auto">
      <tt-header></tt-header>

      <tt-nav></tt-nav>

      <h1 id="greeting" style="text-align:center"></h1>

      <div
        class="bg-white rounded-lg drop-shadow-lg lg:p-8 m-auto mt-4 md:p-1 grid-cols-6"
      >
        <page-outlet></page-outlet>
      </div>

      <button id="load-yt" style="text-align:center">Load More Episodes...</button>

      <button id="load-yt" style="text-align:center">Load More Episodes...</button>

      <tt-footer></tt-footer>
    </div>
  </body>
</html>