<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>Tuesday's Tunes</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blasting tunes to you straight from the cloud." />
    <meta property="og:title" content="Tuesday's Tunes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tuesdaystunes.tv/" />
    <meta property="og:image" content="https://www.tuesdaystunes.tv/assets/tuesdays-tunes-og.png">

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="../styles/main.css" data-gwd-opt="inline">

    <script type="module" data-gwd-opt="static" src="../components/footer/footer.js"></script>
    <script type="module" data-gwd-opt="static" src="../components/header/header.js"></script>
  </head>

  <body>

    <div class="md:w-10/12 m-0 ml-auto mr-auto">
      <tt-header></tt-header>

      <page-outlet></page-outlet>

      <tt-footer></tt-footer>
    </div>
  </body>
</html>