* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin: 0;
}

/* Typography */

.heading {
  font-family: var(--font-family-heading);
  font-size: var(--font-heading-size);
  font-weight: regular;
}

.sub-heading {
  font-family: var(--font-family-text);
  font-size: var(--font-text-size);
  font-weight: bold;
}

.text {
  font-family: var(--font-family-text);
  font-size: var(--font-text-size);
}

/* End of typography */

h1 {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

div {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-accent);
}

img {
  display: block;
  width: 50%;
  margin: 0 auto 20px;
}

a {
  color: var(--color-secondary);
  font-weight: bold;
}

h6 {
  text-align: center;
}