@import './theme.css';

html,
body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-primary);
  scrollbar-color: var(--color-accent) var(--color-accent);
}

body::-webkit-scrollbar {
  width: 0.8em;
  height: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  outline: 1px solid none;
  border-radius: 10px;
}