@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:host {
  --color-primary: #fbe1a6;
  --color-secondary: #075154;
  --color-accent: #ef9d00;
  --font-primary: 'Georgia';
  --font-secondary: 'Cooper Black';
}
